<html>
<style>
th{
    background-color:#4CAF50;
    color:white;
}
td{
    text-align: center;
}
</style>
<body>
<table border=1 width="50%" align="center">
    <tr><th>欄位</th><th>內容</th></tr>
    <tr><td>名字</td><td><%=user.name.first %></td></tr>
    <tr><td>種類</td><td><%=user.species %></td></tr>
    <tr><td>年齡</td><td><%=user.age %></td></tr>
</table>
</body>
</html>